@{
    var item = "";
    var price = "";
    var reason = "";
    var date = "";
    var user = WebSecurity.CurrentUserName;

    if (IsPost)
    {
        item = Request.Form["item"];
        price = Request.Form["price"];
        reason = Request.Form["reason"];
        date = Request.Form["date"];
        var connectionString = "Data Source = (localdb)\\MSSQLLocalDB; Database=master";
        //var connectionString = "Server = localhost./MSSQLSERVER01; Database = master; Trusted_Connection = True";
        //var connectionStringData Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = "C:\Users\owere\Documents\Visual Studio 2017\WebSites\WebSite3\App_Data\test.mdf"; Integrated Security = True
        var providerName = "System.Data.SqlClient";
        //Data Source = (localdb)\MSSQLLocalDB; Initial Catalog = data; Integrated Security = True; Connect Timeout = 30; Encrypt = False; TrustServerCertificate = True; ApplicationIntent = ReadWrite; MultiSubnetFailover = False
        var dbb = Database.OpenConnectionString(connectionString,providerName);
        var insertCommand = "INSERT INTO Expenses (item, price, justification, date,agent) VALUES(@0, @1, @2, @3, @4)";

        dbb.Execute(insertCommand, item, price, reason, date, user);
        //db.Execute(insertCommand, test);
    }
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "log an expense";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add an expense</title>
</head>
<body>
    <div class="form-style-6">
        <h1>Add an Expense</h1>
        <form method="post">
            <fieldset>
                <legend>Home Visit Information</legend>
                <p>
                    <label for="title">Name of child:</label>
                    <input type="text" name="item" value="@Request.Form["item"]" />
                </p>

                <p>
                    <label for="price">Price:</label>
                    <input type="text" name="price" value="@Request.Form["price"]" />
                </p>

                <p>
                    <label for="reason">Justification:</label>
                    <input type="text" name="reason" value="@Request.Form["reason"]" />
                </p>

                <p>
                    <label for="date">Date of Purchase:</label>
                    <input type="date" name="date" value="@Request.Form["date"]" />
                </p>

                <p><input type="submit" name="buttonSubmit" value="Add Expense" /></p>
            </fieldset>
        </form>
    </div>
</body>
</html>